@using Infrastructure.Identity.Features.Login

@page "/login/staff"
@layout Layout.GuestLayout
@attribute [AllowAnonymous]

@inject NavigationManager NavigationManager
@inject IMediator _mediator;

<h3>Staff Login</h3>

<EditForm FormName="LoginForm" Model=@request OnValidSubmit=@Submit>
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Email">Email address</label>
        <InputText type="email" class="form-control" id="Email" placeholder="Enter email" @bind-Value=request.Email/>
        <ValidationMessage For="() => request!.Email" ></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <InputText type="password" class="form-control" id="Password" placeholder="Password" @bind-Value=request.Password />
        <ValidationMessage For="() => request!.Password"></ValidationMessage>
    </div>

    <div class="form-check">
        <InputCheckbox type="checkbox" class="form-check-input" id="RememberMe" @bind-Value=request.RememberMe/>
        <label class="form-check-label" for="RememberMe">Remember Me?</label>
    </div>

    <p>@errorMsg</p>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code
{
    [SupplyParameterFromForm(FormName = "LoginForm")]
    private UserLoginRequest request { get; set; } = new();
    private string? errorMsg { get; set; }

    async Task Submit()
    {
        var res = await _mediator.Send(request);
        if(res == null)
        {
            errorMsg = res.errorMsg;
            return;
        }
        NavigationManager.NavigateTo("/dashboard");
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     if (authenticationState == null)
    //     {
    //         return;
    //     }
    //     var authState = await authenticationState;
    //     var user = authState?.User;

    //     if(user != null && !user.Identity.IsAuthenticated)
    //     {
    //         return;
    //     }
    //     NavigationManager.NavigateTo("/dashboard");
    // }
}
